<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.dao.TbPriceMapper" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.po.TbPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fweight" property="fweight" jdbcType="INTEGER" />
    <result column="fprice" property="fprice" jdbcType="INTEGER" />
    <result column="tprice" property="tprice" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fweight, fprice, tprice, flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuliu.pojo.po.TbPriceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuliu.pojo.po.TbPriceExample" >
    delete from tb_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.po.TbPrice" >
    insert into tb_price (id, fweight, fprice, 
      tprice, flag)
    values (#{id,jdbcType=INTEGER}, #{fweight,jdbcType=INTEGER}, #{fprice,jdbcType=INTEGER}, 
      #{tprice,jdbcType=INTEGER}, #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.po.TbPrice" >
    insert into tb_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fweight != null" >
        fweight,
      </if>
      <if test="fprice != null" >
        fprice,
      </if>
      <if test="tprice != null" >
        tprice,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fweight != null" >
        #{fweight,jdbcType=INTEGER},
      </if>
      <if test="fprice != null" >
        #{fprice,jdbcType=INTEGER},
      </if>
      <if test="tprice != null" >
        #{tprice,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuliu.pojo.po.TbPriceExample" resultType="java.lang.Integer" >
    select count(*) from tb_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_price
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fweight != null" >
        fweight = #{record.fweight,jdbcType=INTEGER},
      </if>
      <if test="record.fprice != null" >
        fprice = #{record.fprice,jdbcType=INTEGER},
      </if>
      <if test="record.tprice != null" >
        tprice = #{record.tprice,jdbcType=INTEGER},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_price
    set id = #{record.id,jdbcType=INTEGER},
      fweight = #{record.fweight,jdbcType=INTEGER},
      fprice = #{record.fprice,jdbcType=INTEGER},
      tprice = #{record.tprice,jdbcType=INTEGER},
      flag = #{record.flag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.po.TbPrice" >
    update tb_price
    <set >
      <if test="fweight != null" >
        fweight = #{fweight,jdbcType=INTEGER},
      </if>
      <if test="fprice != null" >
        fprice = #{fprice,jdbcType=INTEGER},
      </if>
      <if test="tprice != null" >
        tprice = #{tprice,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.po.TbPrice" >
    update tb_price
    set fweight = #{fweight,jdbcType=INTEGER},
      fprice = #{fprice,jdbcType=INTEGER},
      tprice = #{tprice,jdbcType=INTEGER},
      flag = #{flag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>